
<h3>New Monthly Box Subscriptions this month: <%= @new_subs_this_month %><h3>
<h3>New Ellie 3- Pack Subscriptions this month: <%= @new_threepack_subs_this_month %></h3>
<h3>New Three Months Subscriptions this month: <%=@new_three_months_subs_this_month %></h3>
<h3>Cancelled Monthly Box Subscriptions CREATED this month <%= @canceled_monthly_box_this_month %><h3>
<h3>Cancelled Ellie 3- Pack Subscriptions CREATED this month <%= @canceled_threepack_this_month %></h3>
<h3>Cancelled Three Months Subscriptions CREATED this month <%= @canceled_threemonths_this_month %></h3>
<h3>New Monthly Box Subscriptions CREATED yesterday <%= @new_monthly_sub_yesterday %></h3>
<h3>New Ellie 3- Pack Subscriptions CREATED yesterday <%= @new_threepack_sub_yesterday %></h3>
<h3>New Three Months Subscriptions CREATED yesterday <%= @new_three_months_sub_yesterday %></h3>
<h3>Monthly Box all time ACTIVE <%= @monthly_box_all_time_active %></h3>
<h3>Monthly Box all time CANCELLED <%= @monthly_box_all_time_cancelled %></h3>
<h3>Ellie 3- Pack all time ACTIVE <%= @ellie_three_all_time_active %></h3>
<h3>Ellie 3- Pack all time CANCELLED <%= @ellie_three_all_time_cancelled %></h3>
<h3>Three Months all time ACTIVE <%= @three_months_all_time_active %></h3>
<h3>Three Months all time CANCELLED <%= @three_months_all_time_cancelled %></h3>
<h3>Number skips for Monthly Box Product this month to date <%= @my_monthly_skip_num %></h3>
<h3>Number skips for Ellie 3- Pack product this month to date <%= @my_threepack_skip_num %></h3>
<h3>Number skips for 3 MONTHS product this month to date <%= @my_threemonths_skip_num %></h3>
